################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PawsClaws/.vs/PawsClaws/v16/Server/sqlite3/db.lock
/PawsClaws/.vs/PawsClaws/v16/Server/sqlite3/storage.ide
/PawsClaws/.vs/PawsClaws/v16/Server/sqlite3/storage.ide-shm
/PawsClaws/.vs/PawsClaws/v16/Server/sqlite3/storage.ide-wal
/PawsClaws/.vs/PawsClaws/v16/.suo
