@page "{Species?}"
@model PawsClaws.Pages.Pets.IndexModel

@{
    ViewData["Title"] = "Pets";
}



<h4 style="text-align: center; word-spacing: 50px; margin-top: 3%;">
    <a href="~/Pets/">All</a>
    <a href="~/Pets/Cat">Cats</a>
    <a href="~/Pets/Dog">Dogs</a>
</h4>



<head>
    <style type="text/css">
        #mainBox {
            display: table;
            background-color: dimgray;
            border: 1px solid #000000;
            height: 100%;
            width: 100%;
            margin: auto;
            padding: 5% 5% 5% 7%;
            align-items: center;
        }

            #mainBox > div {
                display: table-cell;
                background-color: aliceblue;
                border: 1px solid black;
                height: 205px;
                width: 270px;
                padding: 10px;
                text-align: center;
            }

        #
    </style>

</head>

<p style="text-align:right">
    <a asp-page="Create">Create New</a> | <a href="~/Logout">Logout</a>
</p>




<body>
    <div class="container-fluid" id="mainBox">
        @foreach (var item in Model.Pet)
        {
            <div class="col-lg-6 col-md-4 col-sm-2 col-xs-1">
                <div class="align-top">
                    <a href="/Pets/Details/@item.ID"><img src="~/images/@item.ID/thumb.jpg" /> </a>
                </div>
                <div class="align-bottom">
                    <a href="/Pets/Details/@item.ID">@Html.DisplayFor(modelItem => item.Name)</a> :: @Html.DisplayFor(modelItem => item.Breed)<br />
                    @Html.DisplayFor(modelItem => item.Sex) :: @Html.DisplayFor(modelItem => item.Age)
                </div>
            </div>
        }
    </div>
</body>
