@page "{Species?}"
@model PawsClaws.Pages.Pets.IndexModel

@{
    ViewData["Title"] = "Pets";
}

<h2 style="text-align: center;">Pets</h2>

<h4 style="text-align: center; word-spacing: 50px;">
    <a href="~/Pets/">All</a>
    <a href="~/Pets?Species=Cat">Cats</a>
    <a href="~/Pets?Species=Dog">Dogs</a>
</h4>

<head>
    <style type="text/css">
        .petBoxes {
            background-color: aliceblue;
            border: 1px solid black;
            height: 120px;
            padding: 10px 10px 10px 10px;
            text-align: center;
        }
    </style>

    <style type="text/css">
        .mainBox {
            background-color: dimgray;
            border: 1px solid #000000;
            height: 100%;
            padding: 100px 50px 100px 50px;
        }
    </style>

</head>

<p>
    <a asp-page="Create">Create New</a>
</p>


<body>
    <div class="container-fluid mainBox">
        <div class="row">
            @foreach (var item in Model.Pet)
            {
                <div class="col-xs-8 col-sm-4 col-md-2 col-lg-2 petBoxes">
                    <a href="~/Pets/Details?id=@item.ID">@Html.DisplayFor(modelItem => item.Name)</a> :: @Html.DisplayFor(modelItem => item.Breed)<br />
                    @Html.DisplayFor(modelItem => item.Sex) :: @Html.DisplayFor(modelItem => item.Age)
                </div>
            }
        </div>
    </div>
</body>
