@page "{CurrentPage}/{Species?}"
@model PawsClaws.Pages.Pets.IndexModel

@{
    ViewData["Title"] = "Pets";
}


<body style="padding: 3% 10% 0 10%">
    <h4 style="text-align: center; word-spacing: 40px; margin-top: 66px;">
        @if (string.IsNullOrEmpty(Model.Species))
        {
            <span style="text-decoration:underline">All</span>
        }
        else
        {
            <a href="~/Pets/1">All</a>
        }

        @if (Model.Species == "Cat")
        {
            <span style="text-decoration:underline">Cats</span>
        }
        else
        {
            <a href="~/Pets/1/Cat">Cats</a>
        }
        @if (Model.Species == "Dog")
        {
            <span style="text-decoration:underline">Dogs</span>
        }
        else
        {
            <a href="~/Pets/1/Dog">Dogs</a>
        }
    </h4>
    <p style="text-align:right">

        @if (User.Identity.IsAuthenticated)
        {
            <a asp-page="Create">Create New</a>
            <span> | </span>
            <a href="~/Logout">Logout</a>
        }
        else
        {
            <a href="~/Login">Login</a>
        }
    </p>
    <div class="row">
        @foreach (var item in Model.Pet)
        {
            <div class="card col-lg-2 col-med-4 col-sm-6" style="border: 1px solid black; background-color: aliceblue; padding: 15px 30px 15px 30px; width: 253.5px !important; height: 251px !important">
                <div class="card-img-top text-center">
                    <a href="/Pets/Details/@item.ID"><img src="~/images/@item.ID/thumb.jpg" style="align-content:center" /> </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title" style="font-size:20px; font-weight:bold"><a href="/Pets/Details/@item.ID">@Html.DisplayFor(modelItem => item.Name)</a> </h5>
                    <p class="card-text" style="font-size:15px">
                        @Html.DisplayFor(modelItem => item.Breed)<br />
                        @Html.DisplayFor(modelItem => item.Sex)
                    </p>
                </div>
            </div>
        }
        
        
    </div>
    <p style="text-align:center; word-spacing:10px">
        @if(Model.CurrentPage == Model.FirstPage)
        {
            <span style="text-decoration-color:dimgrey">Previous</span>
        }
        else
        {
            <a href="/Pets/@Model.PrevPage/@Model.Species">Previous</a>
        }
        
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <a href="/Pets/@i/@Model.Species">@i</a>
        }

        @if(Model.CurrentPage == Model.TotalPages)
        {
            <span style="text-decoration-color:dimgrey">Next</span>
        }
        else
        {
            <a href="/Pets/@Model.NextPage/@Model.Species">Next</a>
        }
    </p>
</body>
