@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>Use this area to provide additional information.</p>
<h1>This a header test</h1>
<a href="~/Pages/About.cshtml">~/Pages/About.cshtml</a>
