@page
@model PawsClaws.Pages.PetsModel
@{
    ViewData["Title"] = "Pets";
}
    <h2>@ViewData["Title"]</h2>


<head>
    <style type="text/css">
        .my-col {
            background-color: #00ffff;
            border: 1px solid #4cff00;
            height: 120px;
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-8 col-sm-4 col-md-2 col-lg-1 my-col">Pet 1</div>
            <div class="col-xs-8 col-sm-4 col-md-2 col-lg-1 my-col">Pet 2</div>
            <div class="col-xs-8 col-sm-4 col-md-2 col-lg-1 my-col">Pet 3</div>
            <div class="col-xs-8 col-sm-4 col-md-2 col-lg-1 my-col">Pet 4</div>
            <div class="col-xs-8 col-sm-4 col-md-2 col-lg-1 my-col">Pet 5</div>
            <div class="col-xs-8 col-sm-4 col-md-2 col-lg-1 my-col">Pet 6</div>
            <div class="col-xs-8 col-sm-4 col-md-2 col-lg-1 my-col">Pet 7</div>
            <div class="col-xs-8 col-sm-4 col-md-2 col-lg-1 my-col">Pet 8</div>
        </div>
    </div>
</body>